@model Stories.Models.RateSubject

<div style="text-align:center">
    <label style="vertical-align:middle">@Model.Caption</label>
    <span data-value="1" data-subject="@Model.Id" class="fa fa-star fa-2x ygstar" style="cursor: pointer;"></span>
    <span data-value="2" data-subject="@Model.Id" class="fa fa-star fa-2x ygstar" style="cursor: pointer;"></span>
    <span data-value="3" data-subject="@Model.Id" class="fa fa-star fa-2x ygstar" style="cursor: pointer;"></span>
    <span data-value="4" data-subject="@Model.Id" class="fa fa-star fa-2x ygstar" style="cursor: pointer;"></span>
    <span data-value="5" data-subject="@Model.Id" class="fa fa-star fa-2x ygstar" style="cursor: pointer;"></span>
</div>